body{
    overflow: hidden;
    min-width: 1000px;
}
.header{
    position: relative;
    height: 50px;
    line-height:50px;
    background-color: lightblue;
    border-bottom:1px solid #ccc;
}
.logo{
    position: absolute;
    left: 10px;
    margin:0;
}

.welcome{
    position: absolute;
    right: 10px;
    top:0px;
    margin:0;
}

.top-nav{
    height:30px;
    line-height:30px;
    border-bottom:1px solid #ccc;
}

.top-nav > a{
    text-decoration: none;
    color: black;
    display: inline-block;
    padding:0 10px;
}

.top-nav > a:hover{
    background-color: #ccc;
}

.top-nav-menu{
    width: 150px;
    display: inline-block;
    text-align: center;
}

.top-nav-active{
    background-color: #ccc;
}

.content{
    text-align: center;
    position: absolute;
    top:82px;/*有2个边框像素需要加上*/
    left:0;
    bottom:0;
    right:0;
}

.side-nav{
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    width:150px;
}

.main-iframe-container{
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left: 150px;;
}
.main-iframe{
    width:100%;
    height:100%;
    border:none;
}

.side-nav >a {
    display: block;
    text-decoration: none;
    color: #000;
    padding:5px 0;
}
.side-nav >a:hover {
    background-color: #ccc;
}