<div id="add" v-if="add.show">
    <div style="margin: 20px;">
            <fieldset>
                <legend>新增用户组</legend>
                <label>组名</label><input type="text" v-model="add.groupname">
                <label>监督人</label><input type="text" v-model="add.approver">
                <label>是否删除</label>
                <select v-model="add.isdelete">
                    <option value="0">否</option>
                    <option value="1">是</option>
                </select>

                <label>编辑组员信息</label>
                <textarea></textarea>


                <label>编辑模块信息</label>
                <div v-for="item in add.modulelist">
                    {{item.modulename}}:
                    <select v-model="item.permission">
                        <option value="0">无权限</option>
                        <option value="1">读权限</option>
                        <option value="2">读写权限</option>
                    </select>
                </div>

                <div>
                    <button @click="addItem()">提交</button>
                    <button @click="closeEdit()">取消</button>
                </div>
            </fieldset>
    </div>
</div>