<div id="edit" v-if="edit.show">
    <div style="margin: 20px;">
            <fieldset>
                <legend>编辑用户组</legend>
                <label>组ID</label><input type="text" v-model="edit.groupid">
                <label>组名</label><input type="text" v-model="edit.groupname">
                <label>监督人</label><input type="text" v-model="edit.approver">
                <label>创建时间</label><input type="text" v-model="edit.createtime">
                <label>是否删除</label>
                <select v-model="edit.isdelete">
                    <option value="0">否</option>
                    <option value="1">是</option>
                </select>



                <label>编辑组员信息</label>
                <textarea>{{editUsernameList}}</textarea>

                <label>模块信息</label>
                <div v-for="item in edit.modulelist">
                    {{item.modulename}}:
                    <select v-model="item.permission">
                        <option value="0">无权限</option>
                        <option value="1">读权限</option>
                        <option value="2">读写权限</option>
                    </select>
                </div>

                <div>
                    <button @click="editItem()">提交</button>
                    <button @click="closeEdit()">取消</button>
                </div>
            </fieldset>
    </div>
</div>