<div id="table">
    <table border=1>
        <thead>
        <tr>
            <th>用户组ID</th>
            <th>用户组名</th>
            <th>审批人</th>
            <th>创建日期</th>
            <th>是否删除</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="item in table.list">
            <td>{{item.groupid}}</td>
            <td>{{item.groupname}}</td>
            <td>{{item.approver}}</td>
            <td>{{item.createtime}}</td>
            <td>{{item.isdelete == "0" ? "否":"是"}}</td>
            <td>
                <button @click="showEdit(item.groupid, item.groupname, item.approver, item.createtime, item.isdelete)">修改</button>
                <button @click="delItem(item.groupid)">删除</button>
            </td>
        </tr>
        </tbody>
    </table>

    <div>
        共{{table.totalnum}}条数据，共{{table.totalpage}}页，每页{{table.pagesize}}条，第{{table.page}}页

        <button @click="getItemList(toolbar.groupname, toolbar.isdelete, 1)">首页</button>
        <button @click="getItemList(toolbar.groupname, toolbar.isdelete, table.page - 1)">上一页</button>
        <button @click="getItemList(toolbar.groupname, toolbar.isdelete, table.page + 1)">下一页</button>
        <button @click="getItemList(toolbar.groupname, toolbar.isdelete, table.totalpage)">末页</button>
    </div>
</div>