<div id="toolbar">
    <label>用户组名：</label><input type="text" v-model="toolbar.groupname">
    <label>是否删除：</label>
    <select v-model="toolbar.isdelete">
        <option value="0">否</option>
        <option value="1">是</option>
    </select>
    <input type="hidden" v-model="table.page">
    <button @click="getItemList(toolbar.groupname, toolbar.isdelete, 1)">查询</button>
    <button @click="showAdd()">新增</button>
</div>