<div id="add" v-if="add.show">
    <div style="margin: 20px;">
        <fieldset>
            <legend>新增用户</legend>
            <label>用户名</label><input type="text" v-model="add.username">
            <label>所属组</label>
            <select  v-model="add.groupid">
                <option v-for="group in grouplist" value="{{group.groupid}}">{{group.groupname}}</option>
            </select>
            <label>是否删除</label>
            <select  v-model="add.isdelete">
                <option value="0">否</option>
                <option value="1">是</option>
            </select>

            <label>新增用户模块信息</label>

            <div v-for="item in add.modulelist">
                {{item.modulename}}:
                <select v-model="item.permission">
                    <option value="0">无权限</option>
                    <option value="1">读权限</option>
                    <option value="2">读写权限</option>
                </select>
            </div>

            <div><button @click="addItem()">提交</button><button @click="closeAdd()">取消</button></div>
        </fieldset>
    </div>
</div>