<div id="detail" v-if="detail.show">
    <div >
        <fieldset>
            <legend>详情</legend>
            <label>用户组ID</label><input type="text" v-model="detail.groupid" disabled>
            <label>用户组名</label><input type="text" v-model="detail.groupname" disabled>
            <label>监督人</label><input type="text" v-model="detail.approver" disabled>
            <label>创建时间</label><input type="text" v-model="detail.createtime" disabled>
            <label>是否删除</label>
            <select  v-model="detail.isdelete" disabled>
                <option value="0">否</option>
                <option value="1">是</option>
            </select>
        </fieldset>

        <fieldset>
            <legend>模块列表</legend>
            <table>
                <thead>
                <tr>
                    <td>模块ID</td>
                    <td>模块名</td>
                    <td>模块权限</td>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in detail.modulelist">
                    <td>{{item.moduleid}} </td>
                    <td>{{item.modulename}} </td>
                    <td>{{item.permission}} </td>
                    <td>{{item.isdelete}} </td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </fieldset>
    </div>

</div>